body.hide-all-lines .fmark-underline {
    border-width: 0;
}

/*怎么给划线加动画*/
.fmark-underline, .fmark-note {
    border-bottom: 2px solid #adadad;
    /*background: linear-gradient(gray, gray) no-repeat;*/
    /*background-size: 100% 2px;*/
    /*background-position: 0 1.02em;*/
    /*text-shadow: .05em 0 white, -.05em 0 white;*/
    /*transition: background-color 1s;*/
}

.fmark-hide {
    visibility: hidden;
}
.mark-it {
    list-style: none;
    padding: 0;
    border-radius: 6px;
    position: absolute;
    border: solid 1px #ccc;
    background-color: #fff;
    margin: 0;
    z-index: 10000;
    display: none;
}
.mark-it .cansel-underline {
    display: none;
}
.mark-it.hasline .cansel-underline {
    display: block !important;
}
.mark-it.hasline .make-underline {
    display: none !important;
}
.mark-it .mark-triangle {
    position: absolute;
    display: block;
    border-bottom: solid 8px #ccc;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
    top: -8px;
    left: 81px;
}
.mark-it .mark-triangle .triangle {
    position: absolute;
    display: block;
    border-bottom: solid 7px #fff;
    border-left: solid 7px transparent;
    border-right: solid 7px transparent;
    top: 1px;
    left: -7px;
}
.mark-it .mark-note {
    float: left;
    text-align: center;
    width: 84px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
}
.mark-modal {
    display: none;
    position: absolute;
    width: 300px;
    border: solid 1px #ccc;
    border-radius: 6px;
    background-color: #fff;
    z-index: 10000;
}
.mark-modal .mark-triangle {
    position: absolute;
    display: block;
    border-bottom: solid 8px #ccc;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
    top: -8px;
    left: 142px;
}
.mark-modal .mark-triangle .triangle {
    position: absolute;
    display: block;
    border-bottom: solid 7px #fff;
    border-left: solid 7px transparent;
    border-right: solid 7px transparent;
    top: 1px;
    left: -7px;
}
.mark-modal .mark-wrap {
    padding: 4px;
}
.mark-modal .mark-content {
    width: 100%;
    height: 100px;
    resize: none;
    box-sizing: border-box;
}
.mark-modal .mark-name {
    width: 100%;
    box-sizing: border-box;
}
.mark-modal .mark-wrap p {
    margin: 0;
    padding: 4px 0;
}
.mark-modal .close-btn {
    float: right;
    margin-right: 8px;
    cursor: pointer;
}
.mark-modal .fmark-btn {
    cursor: pointer;
}
.mark-comment {
    display: none;
    position: absolute;
    width: 300px;
    border: solid 1px #ccc;
    border-radius: 6px;
    background-color: #fff;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 10000;
}
.mark-comment .mark-triangle {
    position: absolute;
    display: block;
    border-bottom: solid 8px #ccc;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
    top: -8px;
    left: 142px;
}
.mark-comment .mark-triangle .triangle {
    position: absolute;
    display: block;
    border-bottom: solid 7px #fff;
    border-left: solid 7px transparent;
    border-right: solid 7px transparent;
    top: 1px;
    left: -7px;
}
.mark-comment .comment-ul {
    margin: 0;
    list-style: none;
}
.note-dot {
    position: absolute;
    width: 9px;
    height: 9px;
    background: none, url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iOXB4IiBoZWlnaHQ9IjlweCIgdmlld0JveD0iMC41IDAuNSA5IDkiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMC41IDAuNSA5IDkiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iIzZGOTBBNSIgZD0iTTUsMC41QzIuNTE0LDAuNSwwLjUsMi41MTQsMC41LDVTMi41MTQsOS41LDUsOS41UzkuNSw3LjQ4Niw5LjUsNVM3LjQ4NiwwLjUsNSwwLjV6IE01LjUwNyw1LjUwMmgxLjQ5DQoJTDUuMDE0LDcuNTA4bC0yLjA0LTIuMDA2aDEuNTJWMi41MDJoMS4wMTIiLz4NCjwvc3ZnPg0K) no-repeat;
    cursor: pointer;
}

