<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试用例</title>
</head>
<body>
<div class="header">
    <input type="text">
    <h4>这是一个标题</h4>
    <p>
        <span>第一段话</span>
        <span>这是第一段话的内容,我要写的长一点才好测试</span>
    </p>
    <img src="" alt="没图" title="爱咋咋地">
    <h4>怎么识别是随手乱画的</h4>
    <p>
        <span>- 选取时间，时间的问题是随手选择停留时间长再mouseup。</span>
        <span>- 选择范围？ 范围根据mouseup的target跟所选range的公共父级判断，target大于range公共父级则视为不合理的范围。</span>
    </p>
    <h4>这是一个标题</h4>
    <p>
        <span>第一段话</span>
        <span>这是第一段话的内容,我要写的长一点才好测试</span>
    </p>
    <img src="" alt="没图" title="爱咋咋地">
    <h4>怎么识别是随手乱画的</h4>
    <p>
        <span>- 选取时间，时间的问题是随手选择停留时间长再mouseup。</span>
    <span>- 选择范围？ 范围根据mouseup的target跟所选range的公共父级判断，target大于range公共父级则视为不合理的范围。</span>
    </p>
    <h4>这是一个标题</h4>
    <p>
        <span>第一段话</span>
        <span>这是第一段话的内容,我要写的长一点才好测试</span>
    </p>
    <img src="" alt="没图" title="爱咋咋地">
    <h4>怎么识别是随手乱画的</h4>
    <p>
        <span>- 选取时间，时间的问题是随手选择停留时间长再mouseup。</span>
    <span>- 选择范围？ 范围根据mouseup的target跟所选range的公共父级判断，target大于range公共父级则视为不合理的范围。</span>
    </p>
    <h4>这是一个标题</h4>
    <p>
        <span>第一段话</span>
        <span>这是第一段话的内容,我要写的长一点才好测试</span>
    </p>
    <img src="" alt="没图" title="爱咋咋地">
    <h4>怎么识别是随手乱画的</h4>
    <p>
        <span>- 选取时间，时间的问题是随手选择停留时间长再mouseup。</span>
    <span>- 选择范围？ 范围根据mouseup的target跟所选range的公共父级判断，target大于range公共父级则视为不合理的范围。</span>
    </p>
    <h4>这是一个标题</h4>
    <p>
        <span>第一段话</span>
        <span>这是第一段话的内容,我要写的长一点才好测试</span>
    </p>
    <img src="" alt="没图" title="爱咋咋地">
    <h4>怎么识别是随手乱画的</h4>
    <p>
        <span>- 选取时间，时间的问题是随手选择停留时间长再mouseup。</span>
    <span>- 选择范围？ 范围根据mouseup的target跟所选range的公共父级判断，target大于range公共父级则视为不合理的范围。</span>
    </p>
    <h4>这是一个标题</h4>
    <p>
        <span>第一段话</span>
        <span>这是第一段话的内容,我要写的长一点才好测试</span>
    </p>
    <img src="" alt="没图" title="爱咋咋地">
    <h4>怎么识别是随手乱画的</h4>
    <p>
        <span>- 选取时间，时间的问题是随手选择停留时间长再mouseup。</span>
    <span>- 选择范围？ 范围根据mouseup的target跟所选range的公共父级判断，target大于range公共父级则视为不合理的范围。</span>
    </p>
    <h4>这是一个标题</h4>
    <p>
        <span>第一段话</span>
        <span>这是第一段话的内容,我要写的长一点才好测试</span>
    </p>
    <img src="" alt="没图" title="爱咋咋地">
    <h4>怎么识别是随手乱画的</h4>
    <p>
        <span>- 选取时间，时间的问题是随手选择停留时间长再mouseup。</span>
    <span>- 选择范围？ 范围根据mouseup的target跟所选range的公共父级判断，target大于range公共父级则视为不合理的范围。</span>
    </p>
    <h4>这是一个标题</h4>
    <p>
        <span>第一段话</span>
        <span>这是第一段话的内容,我要写的长一点才好测试</span>
    </p>
    <img src="" alt="没图" title="爱咋咋地">
    <h4>怎么识别是随手乱画的</h4>
    <p>
        <span>- 选取时间，时间的问题是随手选择停留时间长再mouseup。</span>
    <span>- 选择范围？ 范围根据mouseup的target跟所选range的公共父级判断，target大于range公共父级则视为不合理的范围。</span>
    </p>
    <h4>这是一个标题</h4>
    <p>
        <span>第一段话</span>
        <span>这是第一段话的内容,我要写的长一点才好测试</span>
    </p>
    <img src="" alt="没图" title="爱咋咋地">
    <h4>怎么识别是随手乱画的</h4>
    <p>
        <span>- 选取时间，时间的问题是随手选择停留时间长再mouseup。</span>
    <span>- 选择范围？ 范围根据mouseup的target跟所选range的公共父级判断，target大于range公共父级则视为不合理的范围。</span>
    </p>
</div>

<div class="showResult">
    这里是结果
</div>
<script src="/static/lib/jquery-1.12.1.min.js"></script>
<script src="/static/dist/bundle.js"></script>
<script>
</script>
</body>
</html>