<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试用例</title>
</head>
<body>
<div class="header">
    <input type="text">
    <h4>这是一个标题</h4>
    <p>
        <span>第一段话</span>
        <span>这是第一段话的内容,我要写的长一点才好测试</span>
    </p>
    <img src="" alt="没图" title="爱咋咋地">
    <p>
        <span>第二段话</span>
        <span>第二段话也要写的长一点,是为了更好的观看</span>
    </p>
</div>

<div class="showResult">
    这里是结果
</div>
<script src="/static/lib/jquery-1.12.1.min.js"></script>
<script src="/static/dist/bundle.js"></script>
</body>
</html>